<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <title>NYT Scraper</title>
  </head>

  <body>
    <div class="container-fluid" id="nSH">
    <div class="row">

      <div class="col-1">
        <form action="/scrape", method="GET">
            <button type="button" class="btn">Scrape</button>
        </form>
      </div>

      <div class="col-1">
        <form action="/saved", method="GET">
            <button type="button" class="btn">Saved</button>
        </form>
      </div>
    <div class="col-10 text-center">
      <h2>New York Times Scraper</h2>
    </div>
  </div>

  </div>

    <div class="container">
        {{{ body }}}
    </div>


<div id="commentArea">
		<div id="comments">
			<h3>Article: <span id="artTitle"></span></h3>
			<div id="comm">
				<label for="commTitle">Title</label><br>
				<input type="text" placeholder="Title" name="commTitle" id="commtitle"><br>
				<label for="commTxt">Leave a comment</label><br>
				<textarea rows="7" placeholder="Use this to leave a comment on this article" id="commTxt"></textarea>
        <br>

				<button type="submit" id="newComment">Save Comment</button>
				<button type="button" id="close">Close</button>
			</div>
		</div>
	</div>

  </body>

</html>