/* Styles for NYT NewsScraper */

#nSH {
    color: white;
    text-shadow: 2px 2px;
    background-color: darkslategray;
}


.jumbotron {
    background-image: "../img/hero-bg.jpg"
}

.articlecard {
    background-color: lightgreen;
    color: black;
}